
        body{
            padding: 0;
            background-color: black;
            overflow: hidden;
        }
        .object{
            position: absolute;
            height: 100px;
            width: 100px;
            cursor: crosshair;
            background-color: blue;
            border-radius: 30px 0 30px 50px;
            transition:transform linear .1s;
            border: 5px solid darkred;
        }
        #Over{
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            z-index: 0;
            pointer-events: none;
        }
        .tile{
            position: absolute;
            height: 1px;
            width: 1px;
            background-color: green;
            z-index: 200;
        }
        #bgOpen{
            position: absolute;
            top: 0;
            left: auto;
            right: auto;
            height: 100%;
            margin: 0;
        }
        #start{
            position: absolute;
            width: 30%;
        }
        #start:hover{
            cursor: pointer;
        }
        #logo{
            position: absolute;
            width: 25%;
            top: 1%;
        }
        .mapPreview{
            position: absolute;
            width: 15%;
            top: 20%;
            left: 100%;
            transition: left 700ms cubic-bezier(0.560, -0.600, 0.405, 1.610);
            transition-timing-function: cubic-bezier(0.560, -0.600, 0.405, 1.610);
            cursor: pointer;

        }
        #diffSlider{
            position: absolute;
            width: 50%;
            left: 25%;
            bottom: 10%;
            z-index: 4;
        }
        #diffSlider:after{
            content: " ";
            position: absolute;
            background-image: url(sliderBg.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 130%;
            height: 6000%;
            left: -6%;
            top: -3000%;
            z-index: -1;
        }
        input[type="range"] {
          -webkit-appearance: none;
          height: 2px;
          background: aqua;
          background-position: center;
          background-repeat: no-repeat;
          bottoM: 0;
          left: 0;
          right: 0;
        }

        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background: #434343;
          position: relative;
          border: 3px solid #b8872e;
          z-index: 3;
          cursor: pointer;
        }
        input[type="range"]:active{
            outline: none;
        }
        h2{
            font-family: Bowlby One SC; 
            position: relative;
            font-size: 2vw;
            width: 90%;
            height: auto;
            left: 5%;
            text-align: left;
            color: black;
            z-index: 10;
            margin-top:15px;
            margin-bottom: 26px;
        }
        #dispPopped{
            padding-left: 20%;
        }
        #dispRound, #dispLife{
            text-align: center;
        }
        #dispRound
{
            margin-top:0;
        }        #dispPopped:after{
            content: " ";
            position: absolute;
            left: 3%;
            top: 0;
            height: 100%;
            width: 40%;
            background-image: url("/Assets/Img/pops.png");
            background-size: contain;
            background-position:left;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 0 12px rgba(0,0,0,0.6));
        }
        #dispLife:after{
            content: " ";
            position: absolute;
            left: 3%;
            top: 0;
            height: 100%;
            width: 40%;
            background-image: url("/Assets/Img/life.ico");
            background-size: contain;
            background-position:left;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 0 12px rgba(0,0,0,0.6));
        }
        #UI{
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 10;
        }
        #sideUI{
            position: absolute;
            width: 50px;
            top: 0;
            left: -20px;
            display: block;
            z-index: 3;
            filter: drop-shadow(0px 0 12px rgba(0,0,0,0.6));
        }
        #waveButton{
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 100%;
            height: 8%;
            right: 0;
            border: none;
        }
        #waveButtonLog{
            position: absolute;
            width: 100%;
            height: 30px;
            top: 90%;
            left: 0;
            z-index: 3;
            filter: drop-shadow(0px 0 12px rgba(0,0,0,0.6));
        }
        .laneFree{
            background-color: greenyellow;
            color: black;
            font-size: 2em;
        }
        .laneNotFree{
            background-color: indianred;
            color: black;
            font-size: 1.5em;
        }
        h2{
            color: white;
        }
        #CashMoney{
            position: absolute;
            right: 100%;
            width: 140px;
            height: 75px;
            background-image: url("/Assets/Img/SeperatorV.png");
            background-size: cover;
            background-position:left;
            z-index: 1;
        }
        h3{
            height: 45px;
            width: 135px;
            position: absolute;
            left: 7px;
            background-color: rgba(255,220,150,.4);
            bottom: -22px;
            font-family: Bowlby One SC; 
            color: gold;
            font-size: 40px;
            padding-left: 5px;
            text-shadow: 1px 1px 0 #db9b27 , -1px -1px 0 #db9b27 , 1px -1px 0 #db9b27 , -1px 1px 0 #db9b27;
        }
        #ironBarUi{
            position: absolute;
            width: 100%;
            left: 0;
            top: 91%;
            height: 0%;
            background-image: url("/Assets/Img/jail-cell-bars.png");
            background-size: cover;
            background-position: bottom;
            z-index: 2;
            transition: height ease-out .3s;
        }
        #UIbg{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;
            background-image: url("/Assets/Img/bgUI.jpg");
            background-size: cover;
            background-position: center;
        }
        #UIbg:after{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25%;
            z-index: 1;
            background-image: url("/Assets/Img/statBgUI.png");
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
        }
        #UIbg:before{
            content: " ";
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            height: 30px;
            background-image: url("/Assets/Img/SeperatorV.png");
            background-size: cover;
            background-position: right;
            z-index: 2;
            filter: drop-shadow(0px 0 12px rgba(0,0,0,0.6));
        }
        #testBut{
            position: absolute;
            top: 50%;
            z-index: 1000;
        }

        #range_test{
            position: absolute;
            border-radius: 100%;
            background-color: rgba(0,0,0,.3);
            z-index: 1;
        }
        
        #obj_test{
            position: absolute;
            border-radius: 100%;
            background-image: url("/Assets/Img/platform.png");
            background-size: contain;
            z-index: 2;
        }
        #obj_test.shadow{
            box-shadow: rgba(0,0,0,.1) -.2px -2px, rgba(0,0,0,.1) -0.3px -3px, rgba(0,0,0,.1) -0.4px -4px, rgba(0,0,0,.1) -0.5px -5px, rgba(0,0,0,.1) -0.6px -6px, rgba(0,0,0,.1) -0.7px -7px, rgba(0,0,0,.1) -0.8px -8px;
        }
        #Alpha{
            z-index: -3;
        }
        #canvas{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        #speedBut{
            z-index: 100;
            position: absolute;
            height: 80px;
            opacity: 0;
            width: 80px;
            border-radius: 50%;
        }
        #towerCont{
            position: absolute;
            top: 17%;
            width: 100%;
            height: 10%;
            margin-top: 0;
            z-index: 0;
        }
        #testBut{
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            border: none;
            -webkit-box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            -moz-box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            background-color: #b9ffa6;
            cursor: pointer;
            font-family: 'Helvetica Neue';
            color: white;
            font-weight: 900;
            font-size: 50px;
        }
        .shot{
            position: absolute;
            background-color: red;
            height: 16px;
            width: 16px;
            border-radius: 50%;       
            transform: translate(-50%, -50%);
        }
        #Alpha, #canvas{
            pointer-events: none;
        }
        #upgradeClickBob, #upgradeClickMon{
            position: absolute;
            top: 37%;
            text-align: center;
            line-height: 250%;
            width: 100%;
            height: 10%;
            margin-top: 0;
            z-index: 0;
            -webkit-box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            -moz-box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            box-shadow: 0 6px 19px 5px rgba(0,0,0,0.22);
            background-color: #a1dcf4;
            cursor: pointer;
            font-family: 'Helvetica Neue';
            color: white;
            font-weight: 900;
            font-size: 50px;
        }
        #upgradeClickMon{
            top: 50%;
        }
        #upgradeClickBob::after, #upgradeClickMon::after{
            content: "Pop flere bobler pr klik!";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: #4c4c4c;
            font-size: 22px;
            text-align: center;
            font-family: 'Helvetica Neue';
            line-height: 150%;

        }
        h4{
            text-align: center;
            font-family: 'Helvetica Neue';
            width: 100%;
            height: auto;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            color: white;
            font-size: 70px;
        }
        #upgradeClickMon::after{
            content: "Få mere cash pr klik!";
        }
        #bar{
            position: absolute;
            transform: translate(-50%, 0);
            top: 0;
            left: 50%;
            width: 500px;
            height: 20px;
            background-color: #F94343;
        }
        #prog{
            position:absolute;
            left: 0;
            top:0;
            height: 100%;
            width: 0;
            background-color:#a1dcf4;
        }
        #deadBg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            z-index: 200;
        }
        #UI{
            position: absolute;
            right: 0;
            left: unset;
            width: 10%;
        }